[submodule "lib/rain.interpreter"]
	path = lib/rain.interpreter
	url = https://github.com/rainprotocol/rain.interpreter
[submodule "lib/rain.orderbook"]
	path = lib/rain.orderbook
	url = https://github.com/rainprotocol/rain.orderbook
